body {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin: 0; padding: 0;
}

/* common */
.thesrc.brand .name {

}

a.thesrc.brand {
    text-decoration: none;
}

/* header and footer */
body > header, body > footer {
    margin: 0; padding: 0;
    overflow: hidden;
}

body > header {
    border-bottom: solid 1px #b8d7ee;
    color: #468cbf;
}
body > footer {
    margin-top: 40px;
    color: #468cbf;
    background-color: white;
    border-top: solid 1px #b8d7ee;
}

body > header > h1, body > footer > h1 { margin: 0; padding: 0; }
body > header > h1 { margin-right: 10px; }
body > header > h1, body > footer > h1 { font-size: 1.1em; }

body > header > h1 > a, body > footer > h1 > a {
    display: inline-block;
    padding: 7px 10px;
}
body > header > h1 > a, body > footer > h1 > a { color: #468cbf; }
body > header a:hover, body > footer a:hover { color: black; }
body > footer > h1 > a { opacity: 0.65; }
body > footer > h1 > a:hover { opacity: 1; }

header > h1 > a:hover .name, footer > h1 > a:hover .name {
    text-decoration: underline;
}
header > h1 > a .name .the, footer > h1 > a .name .the { opacity: 0.65; }
header > h1 > a:hover .name .the, footer > h1 > a:hover .name .the { opacity: 1; }

/* nav */
body > header > h1 { display: inline-block; }
nav {
    display: inline-block;
    margin: 0; padding: 0;
}
nav > ul, nav > ul > li { margin: 0; padding: 0; }
nav > ul > li { list-style-type: none; }
nav > ul > li > a {
    padding: 7px 10px;
    color: #468cbf;
    text-decoration: none;
}
nav > ul > li > a:hover {
    text-decoration: underline;
}

/* main */
body > section.main {
    padding: 14px 10px;
}

/* create post form */

form.create-post dl { margin: 0; padding: 0; }
form.create-post dt {
    
}
form.create-post dt label {
    font-weight: bold;
    font-size: 0.9em;
}
form.create-post dd {
    margin: 0 0 12px 0;
}
form.create-post textarea {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
form.create-post textarea, form.create-post input {
    width: 44em;
    max-width: 95%;
}
form.create-post button {
    font-size: 1.1em;
}

/* posts */
li.post {
    margin-bottom: 8px;
    color: #aaa;
}
li.post .post-link {
    color: #468cbf;
    text-decoration: none;
}
li.post .post-link:hover {
    color: black !important;
    text-decoration: underline;
}
li.post .post-link:visited { color: #777; }
li.post .domain {
    color: #888;
    font-size: 0.75em;
}
li.post .post-body {
    margin: 0; padding: 0;
    font-size: 0.85em;
    color: #444;
}