{{define "Header"}}
<header>
  <h1>{{template "brandLink"}}</h1>
  <nav>
    <ul>
      <li><a href="{{urlTo "post:submit-form"}}">Submit Post</a></li>
    </ul>
  </nav>
</header>
{{end}}

{{define "Footer"}}
<footer>
  <h1>{{template "brandLink"}}</h1>
</footer>
{{end}}

{{define "brandLink"}}
<a class="thesrc brand" href="/">&#x2731; <span class="name"><span class="the">the</span><span class="src">src</span></span></a>
{{end}}

{{define "Analytics"}}
{{if googleAnalyticsID}}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', {{googleAnalyticsID}}, 'auto');
  ga('send', 'pageview');
</script>
{{end}}
{{end}}
